header {
  width:auto;
}

.top-nav {
  top: 0px;
  padding-top: 1px;
  padding-right: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  text-align: right;
  position: fixed;
  height: 50px;
  background-color: gray;
  width: 100%;

}

.logo {
  position: absolute;
  left:10px;

  }

  li a {

  display: block;
  padding: 8px 5px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  color: purple;
  }

 .top-nav li {

 float: right;
 padding: 8px 15px;
 text-align: center;

 }

 ul {
 list-style: none;
 padding-right: 12px;
 }

 li a:hover {
 color: #c00;
 background-color: #fff;
 }

 li a:active {
   color: green;
 }

 .search {
  margin: 5px;
  width: 600px;
  margin-top: 95px;
  margin-left: 45px;
  text-align: left;
  border-radius: 5px;
  font-size: 18px;

 }
.searchButton{
  right: 75px;
  width: 36px;
  height: 36px;
  border: 1px solid #00B4cc;
  background-image: url("../images/magnifying-glass.png");
  background-size:contain;
  vertical-align: middle;
  border-radius: 5px;

}

.searchTerm {
  width: 400px;
  height: 30px;
  border-radius: 5px:
  vertical-align: middle;
}

 main {
   width: 95%;
   margin:0 auto;
 }
.page-selection {
  margin-top:20px;
  margin-left: 45px;
  border: 1.5px solid black;
  display: inline-block;
  width: 350px;
  font-size: 18px;
  border-radius: 5px;
}

.next a {
  border: 1px solid black;
  text-align: center;
}
 .previous a {
  text-align: center;
  border: 1px solid black;
}
 .summary {
   display: inline-block;
   font-size: 18px;
   padding: 8px 25px;
   border-left: 1px solid #CCC;
   border-right: 1px solid #CCC;
 }

 .listing {
   display: inline;
   font-size: 18px;

 }
